ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  width: 350px;
  /*box-shadow: 0 30px 100px rgb(0, 0, 0);*/
}

.div-custom {
  display: flex;
  justify-content: center;
  border-start-start-radius: 40px;
  border-start-end-radius: 40px;
  padding: 40px 0 40px 0;
}

.div-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-end-end-radius: 40px;
  border-end-start-radius: 40px;
  padding: 2% 5% 0 5%;
}

h3 {
  margin-bottom: 0;
  margin-top: 5%;
  font: 700 1.25em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font: 400 1em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
  text-align: justify;
}

.div-navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 40px;
}

.div-indicadores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicador {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: none;
}

.indicador.activo {
  background-color: rgb(23, 23, 23);
  width: 30px;
  border-radius: 30%;
}

.div-flechas {
  display: flex;
  justify-content: right;
}

.boton-flecha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 2em;
}

.flecha-izquierda {
  background-color: white;
  color: rgb(23, 23, 23);
  border: 2px solid rgb(23, 23, 23);
}

.flecha-izquierda:active {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 2px solid white;
}

.flecha-derecha {
  background-color: rgb(23, 23, 23);
  color: white;
}

.flecha-derecha:active {
  background-color: white;
  color: rgb(23, 23, 23);
  border: 2px solid rgb(23, 23, 23);
}

.boton-flecha:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
